*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.registrer{
    width: 25%;
    height: 100vh;
    border: solid #000000 1px;
    float: right;
}

.registrer > :nth-child(1){
    width: 50%;
    height: 5%;
    border: 1px solid;
    margin: 10px auto;
}

.registrer > :nth-child(2){
    width: 40%;
    height: 10%;
    display: flex;
    margin: 10px auto;
}

.registrer > :nth-child(3){
    width: 40%;
    height: 10%;
    display: flex;
    margin: 10px auto;
}

/*.registrer > :nth-child(3){
    width: 2%;
    height: 1%;
    display: flex;
    margin: auto;
    border: #000000 1px solid;
}*/

.registrer :nth-child(2) :nth-child(1){
    width: 30%;
    height: 25%;
    border: 1px solid;
    margin: auto;
    border-radius: 10px;
}
.registrer :nth-child(2) :nth-child(2){
    width: 30%;
    height: 25%;
    border: 1px solid;
    margin: auto;
    border-radius: 15px;
}

.registrer :nth-child(3) :nth-child(1){
    height: 10px;
    width: 10px;
    border: #000000 solid 1px;
    margin-left: 130px;
}



