*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.registrer{
    width: 25%;
    height: 100vh;
    border: solid #000000 1px;
    float: right;
}

.registrer > :nth-child(1){
    width: 50%;
    height: 5%;
    border: 1px solid;
    margin: 20px auto;
}

.registrer > :nth-child(2){
    width: 40%;
    height: 10%;
    display: flex;
    margin: 10px auto;
}

.registrer :nth-child(2) :nth-child(1){
    width: 20%;
    height: 20%;
    border: 1px solid;
    margin: auto;
    border-radius: 10px;
}
.registrer :nth-child(2) :nth-child(2){
    width: 20%;
    height: 20%;
    border: 1px solid;
    margin: auto;
    border-radius: 15px;
}

