*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    border: 2px  solid black;
    display: grid;
    padding: 10px;

}
.container > :nth-child(1){
    border: inherit;
    margin-bottom: 10px;

}
.container > :nth-child(2){
    border: inherit;
}