*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cuadro{
    border: 2px solid black;
    width: 230px;
    height: 480px;
    margin-left: 85%;
    margin-top: 30%;
    display: flex;
   
}

.cuadro > :nth-child(1){
    border: 2px solid black;
    width: 80px;
    height: 438px;
    margin-left: 20px;
    margin-top: 20px;
}

.cuadro > :nth-child(2){
        border: 2px solid black;
        width: 80px;
        height: 438px;
        margin-left: 20px;
        margin-top: 20px;
    }